html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

body {
  background-color: #c4b49a;
  font-family: $sans;
  margin: 0;
}

a {
    color: #3897f0;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

svg {
  display: block;
  height: 600px;

  rect {
    -webkit-filter: drop-shadow(0 0 20px rgba(0,0,0,.2));
    filter: drop-shadow(0 0 20px rgba(0,0,0,.2));
  }
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
