html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

body {
  background-color: #f3f3f1;
  font-family: $sans;
  margin: 0;
}

a {
    color: #3897f0;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

svg {
  display: block;
  height: 600px;

  rect {
    -webkit-filter: drop-shadow(0 0 20px rgba(0,0,0,.2));
    filter: drop-shadow(0 0 20px rgba(0,0,0,.2));
  }
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

main > section {
  padding: 20vh;
}

section h2 {
  margin-bottom: 2rem;
}

h1 {
  display: block;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

h3 {
  margin-bottom: 3rem;
  text-align: center;
}

.logo {
  display: block;
  margin: 2rem auto;
  max-width: 20vw;
}

.about {
  padding: 5rem 0;

  .lead {
    margin-bottom: 20vh;
  }
}

.work {
  h2 {
    text-align: center;
  }

  .card {
    margin-bottom: 20vh;
  }
}

.card {
  border: 0;
}
