.home {
	section h2 {
		text-align: center;
	}

	h3 {
		 text-align: center;
	}

	.workers .row {
		margin-top: 4rem;
	}

	main > hr {
	  background-color: $yellow;
	  height: 8px;
	  margin-top: 6rem;
	  transform: rotate(2deg);

	  &.reverse {
	    transform: rotate(-2deg);
	  }
	}
}